/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
svg{
  background-image: url('gsw.png');
  background-size: 100%;
  display: inline-block;
}

.scoreboard{
  width: 500px;
  height: 110px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  background-color: #FFCC00;
  border-style: solid;
  border-color: #1947D1;
  margin-left: auto;
  display: inline-block;
  font-size: 35px;
  font-family: orbitron;
}

.container{
  text-align: center;
}

.high{
  margin-top: 7px;
}